.Loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 1000
}

.Loader-img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}