

.KittyBanner {
    --size-card: 32rem;
    --size-image: 32rem;
    --width-shadow: 16.2rem;
    --height-shadow: 2rem;
    --translate-shadow-x: -0.3rem;
    --tanslate-shadow-y: 6.8rem;
    width: 100%;
    cursor: default;
    overflow: hidden;
}

.Container {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 96rem;
}

.Container--full {
    max-width: 100%;
}

.Container {
    margin: auto;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 96rem;
}

.KittyBanner-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--size-card);
    margin: 0 auto;
}

.KittyBanner-container:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: block;
    width: var(--width-shadow);
    height: var(--height-shadow);
    margin: auto;
    background-color: var(--kitty-shadow-color);
    border-radius: 50%;
    transform: translate(var(--translate-shadow-x),var(--translate-shadow-y));
    content: '';
    z-index: 1;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    cursor: pointer;
}

img {
    border-style: none;
}

.KittyBanner-image {
    position: relative;
    width: var(--size-image);
    height: var(--size-image);
    z-index: 2;
}

.KittyBanner-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.4rem 0;
    z-index: 3;
}

.KittyBanner-share {
    position: absolute;
    top: 2.4rem;
    right: 0;
    z-index: 3;
}

.KittyPage-content {
    padding: 3.2rem 0 6.4rem;
}

.KittySection {
    margin: 0 0 3.2rem;
}

.KittyHeader-main {
    flex: 1;
    min-width: 0;
    margin-bottom: 2.4rem;
}

.KittyHeader-name {
    overflow: hidden;
}

.KittyHeader-name-text--editable {
    position: relative;
    cursor: pointer;
    transition: color .2s;
}

.KittyHeader-name-text {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    max-width: 100%;
    color: #0b0b0b;
    font-size: 2.8rem;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #2a2825;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.3px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.KittyHeader-name-text--editable:after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    background-image: url(../../images/icons/pencil.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    transform: translate(100%,-50%);
    transition: opacity 0.2s;
    opacity: 0;
    content: "";
}

.KittyHeader-details {
    font-size: 2rem;
    font-weight: 500;
    color: #9c9c9b;
}
 
.Separator {
     display: inline-block;
     background-image: url(../../images/icons/dot-separator.svg);
     background-position: 50%;
     background-repeat: no-repeat;
     padding: 0.8rem;
     vertical-align: middle;
 }

.KittyHeader-details-generation {
    color: #9c9c9b;
    position: relative;
    cursor: pointer;
}

.KittyHeader-details-condition {
    color: #9c9c9b;
    position: relative;
    cursor: pointer;
}

.KittyHeader-details-conditionInfo {
    transform: translateY(.2rem);
    pointer-events: none;
}

.KittyBanner-bg--gold {
    background-color: #faf4cf;

}

.KittyBanner-container--shadow-gold {
    --kitty-shadow-color: #e3daa1;
}

@media (min-width: 960px) {
    .KittyBanner {
        --size-card: 45rem;
        --size-image: 45rem;
        --width-shadow: 22.6rem;
        --height-shadow: 3rem;
        --translate-shadow-x: -0.4rem;
        --translate-shadow-y: 9.7rem;
    }

}

@media (min-width: 760px) {
    .Container {
        padding: 0 3.2rem;
    }
    .KittyPage-content {
        padding: 6.4rem;
    }
    .KittySection {
        margin: 0 0 4.8rem;
    }
    .KittyHeader {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    .KittyHeader-main {
        margin-bottom: 0;
        margin-right: 6.4rem;
    }
    .KittyHeader-name-text--editable {
        font-size: 4.2rem;
    }
    .KittyHeader-name-text {
        font-size: 4.2rem;
    }
}

@media (min-wdith: 480px) {
    .Container {
        padding: 0 2.4rem;
    }
}