.Main {
    min-height: calc(100vh -32rem);
}

.KittyBanner {
    --size-card: 32rem;
    --size-image: 32rem;
    --width-shadow: 16.2rem;
    --height-shadow: 2rem;
    --translate-shadow-x: -0.3rem;
    --tanslate-shadow-y: 6.8rem;
    width: 100%;
    cursor: default;
    overflow: hidden;
}

.Container {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 96rem;
}

.Container--full {
    max-width: 100%;
}

.Container {
    margin: auto;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 96rem;
}

.Container--smGrow {
    max-width: 72rem;
}

.KittyBanner-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--size-card);
    margin: 0 auto;
}

.KittyBanner-container:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: block;
    width: var(--width-shadow);
    height: var(--height-shadow);
    margin: auto;
    background-color: var(--kitty-shadow-color);
    border-radius: 50%;
    transform: translate(var(--translate-shadow-x),var(--translate-shadow-y));
    content: '';
    z-index: 1;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    cursor: pointer;
}

img {
    border-style: none;
}

.KittyBanner-image {
    position: relative;
    width: var(--size-image);
    height: var(--size-image);
    z-index: 2;
}

.KittyBanner--bg-strawberry {
    background-color: #ffe0e5;
}

.KittyBanner--bg-sizzurp {
    background-color: #dfdffa;
}

.KittyBanner--bg-mintgreen {
    background-color: #cdf5d4;
}

.KittyBanner--bg-topaz {
    background-color: #d1eeeb;
}

.KittyBanner--bg-gold {
    background-color: #faf4cf;
}

.KittyBanner--bg-chestnut {
    background-color: #efe1da;
}

.KittyBanner--bg-sapphire {
    background-color: #d3e8ff;
}

.KittyBanner--bg-thundergrey {
    background-color: #eee9e8;
}

.KittyBanner--bg-limegreen {
    background-color: #d9f5cb;
}

.KittyBanner--bg-coralsunrise {
    background-color: #fde9e4;
}

.KittyBanner--bg-cyan {
    background-color: #c5eefa;
}

.KittyBanner--bg-bubblegum {
    background-color: #fadff4;
}

.KittyBanner--bg-forgetmenot {
    background-color: #dcebfc;
}

.KittyBanner--bg-parakeet {
    background-color: #e5f3e2;
}

.KittyBanner--bg-pumpkin {
    background-color: #fae1ca;
}

.KittyBanner--bg-doridnudibranch {
    background-color: #faeefa;
}

.KittyBanner--bg-twilightsparkle {
    background-color: #ede2f5;
}

.KittyBanner--bg-eclipse {
    background-color: #e5e7ef;
}

.KittyBanner--bg-babypuke {
    background-color: #eff1e0;
}

.KittyBanner--bg-dahlia {
    background-color: #e6eafd;
}

.KittyBanner-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.4rem 0;
    z-index: 3;
}

.KittyStatus--list {
    display: block;
    background-color: transparent;
    padding: 0;
    height: auto;
    width: 0;
    white-space: normal;
}

.KittyStatus {
    position: relative;
    display: inline-block;
    padding: 0.4rem 0.7rem 0;
    height: 2.6rem;
    border-radius: 3.2rem;
    color: #0b0b0b;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: hsla(0, 0%, 100%, 0.4);
    background-blend-mode: soft-light;
    white-space: nowrap;
}

.KittyStatus--list .KittyStatus-item {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem 0;
    height: 3rem;
    margin-bottom: 0.6rem;
    background-color: hsla(0, 0%, 100%, 0.4);
    background-blend-mode: soft-light;
    white-space: nowrap;
}

.KittyStatus-item:first-child {
    padding: 0;
}

.KittyStatus-item {
    display: inline-block;
    padding-left: 0.8rem;
}

.KittyBanner-share {
    position: absolute;
    top: 2.4rem;
    right: 0;
    z-index: 3;
}

.KittyPage-content {
    padding: 3.2rem 0 6.4rem;
}

.KittySection {
    margin: 0 0 3.2rem;
}

.KittySection-header {
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem;
}

.KittySection-header-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.KittySection-header-tooltip {
    margin-left: 0.8rem;
}

.TooltipNew {
    position: relative;
    display: inline-block;
}

.TooltipNew-wrapper {
    cursor: pointer;
}

.KittyCattributesTooltip-icon {
    display: block;
    margin: 0;
    padding: 0;
}

.KittyCattributes {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(2, auto);
    padding-top: 0.8rem;
}

.KittyCattribute {
    min-width: 0;
}

.Cattribute {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}

.Cattribute--size-small .Cattribute--icon-diamond .Cattribute-icon {
    background-color: #fdf0fa;
    box-shadow: inset 0 0 0 0.2rem #f9a7ea  
        inset 0 0 0 0.4rem #fff;
}

.Cattribute--size-small .Cattribute-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 4.2rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 2.5rem;
}

.Cattribute--size-small .Cattribute-icon-img--diamond {
    background-image: url(../../images/images/cattributes/diamond.svg);
}

.Cattribute-icon {
    position: relative;
    top: -.1em;
    overflow: hidden;
}

.Cattribute-content {
    position: relative;
    top: -0.1em;
    overflow: hidden;
}

.Cattribute--size-small .Cattribute-title {
    font-size: 1.6rem;
}

.Cattribute--size-small .Cattribute-title, .Cattribute--size-small .Cattribute-type {
    line-height: 1.2;
}

.Cattribute-title {
    overflow: hidden;
    color: #2a2825;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Cattribute-title, .Cattribute-type {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-transform: lowercase;
}

.Cattribute--size-small .Cattribute-type {
    color: #9c9c9b;
    font-size: 1.4rem;
}

.KittyHeader-main {
    /* flex: 1; */
    min-width: 0;
    margin-bottom: 2.4rem;
}

.KittyHeader-name {
    overflow: hidden;
}

.KittyHeader-name-text {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    max-width: 100%;
    color: #0b0b0b;
    font-size: 2.8rem;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.KittyHeader-name-text--editable {
    position: relative;
    cursor: pointer;
    transition: color .2s;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #2a2825;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.3px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.KittyHeader-name-text--editable:after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    background-image: url(../../images/icons/pencil.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    transform: translate(100%,-50%);
    transition: opacity 0.2s;
    opacity: 0;
    content: "";
}

.KittyHeader-details {
    font-size: 2rem;
    font-weight: 500;
    color: #9c9c9b;
}
 
.Separator {
     display: inline-block;
     background-image: url(../../images/icons/dot-separator.svg);
     background-position: 50%;
     background-repeat: no-repeat;
     padding: 0.8rem;
     vertical-align: middle;
 }

.KittyHeader-details-generation {
    color: #9c9c9b;
    position: relative;
    cursor: pointer;
}

.KittyHeader-details-condition {
    color: #9c9c9b;
    position: relative;
    cursor: pointer;
}

.KittyHeader-details-conditionInfo {
    transform: translateY(.2rem);
    pointer-events: none;
}

.KittyHeader-owner {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    color: #9c9c9b;
    font-size: 2rem;
    font-weight: 500;
}

.KittyHeader-owner-image {
    position: relative;
    margin-right: 1.5rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 100%;
}

.KittyHeader-owner-image::before {
    content: "";
    background-image: url(../../images/images/circleDotsActive.svg);
}

.KittyHeader-owner-image img {
    width: 100%;
}

img {
    border-style: none;
}

.KittyHeader-owner-image::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    bottom: -0.6rem;
    left: -0.6rem;
    margin: auto;
    background-image: url(../../images/images/circleDots.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2;
}

.KittyHeader-owner-details {
    font-size: 1.8rem;
    line-height: 1.2;
}

.KittyHeader-owner-details>* {
    display: block;
}

.KittyHeader-owner-name {
    color: #2a2825;
}

.KittyBanner-bg--gold {
    background-color: #faf4cf;

}

.KittyBanner-container--shadow-gold {
    --kitty-shadow-color: #e3daa1;
}

.KittyHeader-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2.4rem 0 0;
    flex: 0 0 100%;
}

.KittyHeader-publicActions {
    position: relative;
    padding: 0.8rem 0 0.4rem;
}


@media (min-width: 960px) {
    .KittyBanner {
        --size-card: 45rem;
        --size-image: 45rem;
        --width-shadow: 22.6rem;
        --height-shadow: 3rem;
        --translate-shadow-x: -0.4rem;
        --translate-shadow-y: 9.7rem;
    }
    .KittyStatus--list .KittyStatus-item {
        padding: 0.5rem 1.3rem 0;
        height: 3.4rem;
    }
}

@media (min-width: 760px) {
    .Container {
        padding: 0 3.2rem;
    }
    .KittyPage-content {
        padding: 6.4rem;
    }
    .KittySection {
        margin: 0 0 4.8rem;
    }
    .KittyHeader {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    .KittyHeader-main {
        margin-bottom: 0;
        margin-right: 6.4rem;
    }
    .KittyHeader-name-text--editable {
        font-size: 4.2rem;
    }
    .KittyHeader-name-text {
        font-size: 4.2rem;
    }
    .KittyHeader-owner {
        flex-direction: row-reverse;
        margin-bottom: 0;
    }
    .KittyHeader-owner-image {
        width: 4.8rem;
        height: 4.8rem;
        margin-left: 1.5rem;
        margin-right: 0;
    }
    .KittyHeader-owner-details {
        font-size: 2rem;
        text-align: right;
    }
    .KittyHeader-actions {
        flex-direction: row;
    }
    .KittyHeader-publicActions {
        margin-bottom: 0;
    }
    .KittyCattributes {
        grid-template-columns: repeat(4, 1fr);
    }
    .Cattribute--size-small .Cattribute-icon {
        margin-right: 1.2rem;
        flex: 0 0 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
    }
    .Cattribute--size-small .Cattribute-title {
        font-size: 1.8rem;
    }
}

@media (min-wdith: 480px) {
    .Container {
        padding: 0 2.4rem;
    }
    .KittyStatus {
        font-size: 1.4rem;
        padding: 0.5rem 1rem 0;
        height: 3rem;
    }
    .KittyCattributes {
        grid-gap: 2.2rem;
        grid-template-columns: repeat(3, auto);
    }
}