@font-face {
    font-family: Calibre;
    src: url('../../images/fonts/Calibre-Regular.eot');
    src: url('../../images/fonts/Calibre-Regular.otf'),
         url('../../images/fonts/Calibre-Regular.woff'),
         url('../../images/fonts/Calibre-Regular.woff2'),
         url('../../images/fonts/Calibre-RegularItalic.eot'),
         url('../../images/fonts/Calibre-RegularItalic.woff'),
         url('../../images/fonts/Calibre-RegularItalic.woff2')
}
* {
    font-family: Calibre;    
}
.button1 {
    background-color: #e37ad3;
    border: 2px solid #0b0b0b;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: normal;
    box-shadow: inset 0 0 0 .4rem #d850b1, 0 .4rem 0 0 #e7e6e4;
    max-width: 167.67px;
    height: 70px;
    font-size: 50px;
}
.button1:hover {
    transform: translateY(-2px)
}
.explainer-bg {
    background-image: url('../../images/images/home-page/pattern-tile.svg');
    background-color: #f3f1ee;
    background-size: 44rem auto;
    padding: 8rem 0;
    position: relative;
}
img {
    background-color: white;
}
.ethdiamond {
    height:75px;
    width: 95px;
    position: absolute;
    left: 102px;
    bottom: 225px;
    background: none;
}
.explainer-what-text {
    width: 500px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-bottom: 300px;
}
.explainer-headline {
    margin-bottom: 1.1rem;
    font-size: 5rem;
    margin-top: 0;
    text-align: left;
    padding-right: 1px;
    height: 60px;
    width: 563.48px;
}
.explainer-description {
    font-size: 2.5rem;
    color: #82817d;
    padding-bottom: 100px;
    text-align: left;
    width: 563.48px;
    height: 132px;
    line-height: 1.4
}
.explainer-what {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 105rem;
    height: 44rem;
    margin: 0 auto;
    padding: 40px;
}
.explainer-ethkitty {
    position: relative;
    height: 308.75px;
    width: 300.52px;
    right: 320px;
    top: 105px;
}
.ethkitty {
    width: 300.52px;
    height: 308.75px;
    margin-top: 30px;
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 128rem;
  max-height: 470px;
  margin: 0 auto;
  font-weight: 100;
  overflow: hidden;
}
.landing-description {
    width: 50%;
    margin: 1px;
    margin-top: -30px;
    padding: 1px;
    padding-left: 30px;
    text-align: left;
}
.landingHeadline {
    font-size: 8.2rem;
    line-height: 0.4;
}
.landing-slots {   
    padding-right: 25px;
}
.landing-pattern {
    display: grid;
    grid-template-columns: repeat(3, 208px);
    float: right;
    margin-top: -625px;
}
.words {
    max-width: 378px;
    font-size: 30px;
    line-height: 1.2;
    color: #82817d;
    margin-top: -20px;
    margin-bottom: 0;
}
.landing-kitty1 {
    width: 202.83px;
    height: 267px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}
.landing-kitty6 {
    width: 202.83px;
    height: 215px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}
.landing-kitty11 {
    width: 202.83px;
    height: 267px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    /* position: relative; */
}
.landing-kitty2 {
    width: 202.83px;
    height: 215px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
}
.landing-kitty7 {
    width: 202.83px;
    height: 267px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: -72px;
    position: block;
}
.landing-kitty12 {
    width: 202.83px;
    height: 215px;
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-top: 0;
}
.landing-kitty3 {
    width: 202.83px;
    height: 267px;
    padding-left: 15px;
    margin-top: 0;
}
.landing-kitty8 {
    width: 202.83px;
    height: 215px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: -25px;
}
.landing-kitty13 {
    width: 202.83px;
    height: 267px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: -10px;
}
.container-center {
    height: 480px;
}
.explainer-headline2 {
    margin-bottom: 1.3rem;
    font-size: 50px;
    margin-top: 0;
    text-align: center;
}
.explainer-why {
    padding: 100px;
    padding-top: 130px;
}
.explainer-description3 {
    color: #82817d;
    width: 768px;
    height: 165px;
    margin-left: 135px;
    line-height: 1.4;
    font-size: 24px;
}
.container-lg {
    height: 550px;
}
.container-breed {
    padding-left: 114px;
}
.explainer-breed {
    display: flex;
    align-items: space-between;
}
.explainer-breedkitty1 {
    height: 302px;
    width: 302px;
    padding-right: 20px;
    margin-left: -24px;
}
.heart {
    position: relative;
    background: none;
    display:flex;
    align-items: center;
    margin-left: 25px;
}
.heart-img {
    background: none;
    margin-top: 35px;
    height: 50px;
    width: 55px;
    margin-left: 10px;
}
.explainer-breedkitty2 {
    height: 302px;
    width: 302px;
    margin-left: -17px;
    padding-left: 5px;
}
.equals {
    position: relative;
    background: none;
    display:flex;
    align-items: center;
    margin-left: 24px;
}
.equals-img {
    background: none;
    margin-top: 50px;
    margin-left: 14px;
    padding-left: 3px;
}
.explainer-breedkitty3 {
    height: 302px;
    width: 302px;
    margin-left: -14px;
}
.container-bottom {
    height: 452px;
    width: 960px;
}
.explainer-cta {
    padding: 18rem 0 0 35rem;
}
.explainer-description2 {
    color: #82817d;
    font-size: 28px;
    width: 896px;
    margin-left: -130px;
    margin-top: -100px;
    line-height: 1.4;
}
.explainer-description4 {
    font-size: 30px;
    color: black;
    margin-bottom: 0;
}